<!DOCTYPE html>
<head>
  <title>View Specs</title>
  <link id="main-content-template" rel="import" href="template.html">
</head>
<body>
  <header>
    <h1>View Testing With Templates, Shadow-DOM, and all-the-things...</h1>
  </header>
  <section id="main-content">
    <div class="one">Nothing yet</div>
    <div class="two">Nothing yet</div>
  </section>
  <section id="button-content">
    <button type="button" name="event-one">One!</button>
    <button type="button" name="event-two">Two!</button>
  </section>

  <script src="bundle.js"></script>
</body>
